*{
    font-size: 16px;
}

body{
    background-color: tan;
}
main{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: repeat(6 / 1fr);
}


#moti p{
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
}

#dedi p{
    background-color: blue;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
}

#crea p{
    background-color: green;
    text-align: end;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
}

header{
    text-align: center;
    background-color: magenta;
    margin: 10px;
    margin-left: 35%;
    margin-right: 20%;

}

header h1{
    font-size: 32px;
    margin-top: 0px;
}

#myPic{
    grid-column: 2 / 3;
    background-color: green;
    border-radius: 20px;
    margin: 10px;
}

#myPic img{

}

#aboutMe{
    grid-column: 3 / 5;
    padding: 10px;
    background-color: lime;
    margin: 10px;
    border-radius: 20px;
}

#mySkills{
    grid-column: 2 / 5;
    background-color: lawngreen;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

#mySkills h2{
    text-align: center;
}

#myProjects{
    background-color: greenyellow;
    grid-column: 2 / 5;
    grid-row: repeat(3, 1fr);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

#myProjects h2{
    text-align: center;
}

#myProjects p{
    text-align: center;
}

#myProjects article{
    border-style: groove;
    border-width: thick;
    padding: 5px;
}

#myProjects article h3{
    border-style: groove;
    padding: 5px;
    text-align: center;
}

#projects{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contactMe{
    grid-column: 2 / 5;
    background-color: mediumpurple;
    border-radius: 20px;
}

#contactMe h2{
    text-align: center;
}

#contactMe p{
    text-align: center;

}

nav{
    display: grid;
    position: fixed;
    width: 150px;
    height: 300px;
    top: 25%;
    bottom: 0;
    background-color: hotpink;
    border-radius: 20px;
}

nav a{
    padding: 10px;
}