*{
    box-sizing: border-box;
    font-size: 18px;
    max-width: 1000px;
    
}

body{
    margin: 2%;
    background-color: #f0ead6;
}
main{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: repeat(6 / 1fr);
}


#moti p{
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0%;
    padding: .5%;
    color: #FEFEFA;
    font-size: 25px;
    border-radius: 10px 10px 0% 0%;
}

#dedi p{
    background-color: blue;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.5%;
    color: #FEFEFA;
    font-size: 25px;
    font-style: italic;
    
}

#crea p{
    background-color: #FFF700;
    text-align: end;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.5%;
    color: #FEFEFA;
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;
    border-radius: 0% 0% 10px 10px;
}

header{
    text-align: center;
    background-color: #87FF2A;
    margin: 1%;
    margin-left: 35%;
    margin-right: 20%;
    border-radius: 20px;

}

header h1{
    font-size: 32px;
}

#myPic{
    grid-column: 2 / 3;
    background-color: #FFF700;
    border-radius: 20px;
    max-width: 60%;
    padding: 5%;
    margin-left: 20%;
    border-style: solid;

}

#myPic img{
max-width: 100%;
max-height: 100%;
padding: 15%;
background-color:blue;
border-radius: 20px;
margin: 6%;
border-style: solid;
border-color: red;
border-width: thick;
}

#aboutMe{
    grid-column: 3 / 5;
    padding: 1%;
    background-color: lightblue;
    margin: 1%;
    border-radius: 20px;
    border-style:solid;
}

#aboutMe h2{
    text-align: center;
    font-style: italic;
}

#mySkills{
    grid-column: 2 / 5;
    background-color: #FF7A00;
    padding: 1%;
    border-radius: 20px;
    margin: 1%;
    border-style:solid;
}

#mySkills h2{
    text-align: center;
    font-style: italic;
}

#myProjects{
    background-color: greenyellow;
    grid-column: 2 / 5;
    grid-row: repeat(3, 1fr);
    margin: 1%;
    border-radius: 20px;
    padding: 1%;
    border-style:solid;
}

#myProjects h2{
    text-align: center;
    font-style: italic;
}


#myProjects p{
    text-align: center;
}

#myProjects img{
    max-width: 200px;
    max-height: 200px;
    padding: 15%;
}

#myProjects article{
    border-style: groove;
    border-width: 2px;
    padding: 1%;
    border-style: solid;
    border-radius: 20px;
    margin: 1%;
    background-color: lightblue;
}

#myProjects article a{
    padding: 20%;
    text-align: center;
}

#myProjects article a:hover{
    color: red;
}
#projects{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contactMe{
    grid-column: 2 / 5;
    background-color: rgb(237, 162, 247);
    margin: 1%;
    border-radius: 20px;
    border-style:solid;
}

#contactMe h2{
    text-align: center;
    font-style: italic;
}

#contactMe p{
    text-align: center;

}

nav{
    display: grid;
    position: fixed;
    width: 50%;
    height: 55%;
    top: 25%;
    bottom: 0;
    background-color: lightblue;
    border-radius: 20px;
    max-width: 15%;
    border-style:solid;
}

nav a{
    padding: 1%;
    text-align: center;
    margin: 10%;
    background-color: lime;
    border-radius: 20px;
    border-style: solid;
    
}
#quote{
    text-align: center;
    font-style: italic;
    font-size: 30%;
    margin: 1%;
    margin-left: 35%;
    margin-right: 20%;
    border-radius: 20px;

}